<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CompanyName" value="Balaji Enterprises"></add>
		<add key="PartyName" value="Akash Store"></add>
		<add key="VOUCHERTYPENAME" value="Sales"></add>
		<add key="ACCOUNTINGALLOCATIONS" value="District Sales"></add>
		<add key="GST" value="GST 18%"></add>
		<add key="SGST" value="SGST 9"></add>
		<add key="CGST" value="CGST 9"></add>
		<add key="Unit" value="Kg"></add>
	</appSettings>
</configuration>