<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CompanyName" value="Demo 2"></add>



    <add key="PartyLedger" value="Amazon Seller"></add>
    <add key="PartyLedgerState" value="Delhi"></add>
    
    <add key="SalesLedger" value="Amazon Sale"></add>

    <add key="IGSTName" value="Output IGST"></add>
    <add key="IGSTRate" value="18"></add>

    <add key="SGSTName" value="Output SGST"></add>
    <add key="SGSTRate" value="9"></add>  

    <add key="CGSTName" value="Output CGST"></add>
    <add key="CGSTRate" value="9"></add>

  </appSettings>
</configuration>